{% extends "JuPyDe_SM/base.html" %}

{% block content %}
{% load static %}
	<!-- LOGIN FORM -->
	<div class="container">
		<div class="agency">
			<div class="col-md-5 col-sm-12">
				<div class="row">
					<img src="{% static '/users/login_page.jpg' %}" alt="LOGIN image">
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6 col-sm-12">
				<div class="row">
					<div class="section-title">
						<span>Let's start our journey</span>
					</div>
					<p>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="input_1">
                                <input type="email" name="email" class="input_1" required>
                                <span>your email please</span>
                            </div>
                            <br/>
                            <div class="input_1">
                                <input type="password" name="password" class="input_1" required>
                                <span>your password please</span>
                            </div>
                            {% for field in login_form %}
                                <p>
                                    {% for error in field.errors %}
                                    <p style="color:red">{{error}}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            {% if login_form.non_field_errors %}
                                <div style="color:red">
                                    <p>{{ login_form.non_field_errors }}</p>
                                </div>
                            {% endif %}
                            <button type="submit" class="btn green" style="margin-top:20px"><span>Login</span></button>
                            <a class="btn black" style="margin-top:20px" role="button" href="#"><span>Reset Password</span></a>
                        </form>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
